@import "~@angular/material/theming";

$font-size: 14px;

.NewNotification {
  background: mat-color($mat-deep-orange, 100);
}

.NotificationDescription {
  text-align: left;
  white-space: normal;
}

.NotificationTimeElapsed {
  color: mat-color($mat-gray, 400);
  display: block;
  font-size: 11px;
  margin-left: 22px;
  text-align: left;
}

.NotificationIcon {
  font-size: $font-size;
  height: $font-size;
  line-height: $font-size;
  width: $font-size;
  margin-right: 8px;
}

.NotificationSubject {
  display: block;
  margin-left: 22px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Notification {
  font-weight: 400;
  color: mat-color($mat-gray, 600);
  font-size: $font-size;
  line-height: 16px;
  padding: 4px 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  max-width: 300px;
  width: 100%;
}

.NotificationIconAndDescription {
  display: flex;
}
