@import "~@angular/material/theming";

.NotificationSettingsDialogContent {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
}

.SlideToggle.mat-checked /deep/ .mat-slide-toggle-thumb {
  background-color: mat-color($mat-deep-orange, 200) !important;
}

.SlideToggle.mat-checked /deep/ .mat-slide-toggle-bar {
  background-color: mat-color($mat-deep-orange, 100) !important;
}

.SlideToggle {
  color: mat-color($mat-gray, 500);
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0;
}

.NotifyMeClass {
  font-size: 16px;
}

.NotificationSettingsDoneButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.NotificationSettingsDoneButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  text-transform: uppercase;
  line-height: 28px;
}
