@import "~@angular/material/theming";

.NotificationSettingsContainer {
  background: mat-color($mat-gray, 100);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: mat-color($mat-gray, 600);
  text-align: left;
  font-size: 12px;
}

.SettingsIcon {
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  width: 14px;
  margin-right: 8px;
}

.NotificationSettings {
  font-weight: 500;
}

.NotificationsHeaderContainer {
  display: flex;
  justify-content: space-between;
  background: mat-color($mat-gray, 100);
}

.NotificationsHeader {
  font-size: 12px;
  font-weight: 500;
  align-self: center;
  padding-left: 16px;
  padding-right: 16px;
}
