@import "~@angular/material/theming";


.MainResult {
  padding-bottom: 20px;
}

.ResultHeader {
  text-align: left;
  color: mat-color($mat-gray, 700);
}

.ListItem {
  padding: 10px;
  display: flex;
  //max-width: 100%;
  //width: 100%;
}

.IconDetails {
  //width: 10%;
  align-items: center;
  display: flex;
  font-size: 12px;
  padding: 5px;
  color: mat-color($mat-teal, 400);
}

.IconText {
  color: mat-color($mat-gray, 600);
  align-items: center;
  display: flex;
}

.MainResult /deep/ .mat-list-base {
  padding-top: 0;
}

//.IconExp {
//  color: mat-color($mat-gray, 600);
//  font-size: xx-small;
//}

.NameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: mat-color($mat-gray, 600);
  font-size: 12px;
  //max-width: 10%;
  //width: 100%;
}

.IconDetails.mat-list-icon {
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
}

.ResTitleButton {
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: mat-color($mat-gray, 700);
  padding: 0;
}

.ResContent {
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
  color: mat-color($mat-gray, 600);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ResultHeaderContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.QuestionHeaderAndContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 0;
  padding: 0 8px;
}

.QuestionDetailsContainer {
  display: flex;
  justify-content: flex-end;
}

.QuestionStatsContainer {
  display: flex;
  margin-right: 12px;
}
