@import "~@angular/material/theming";

:host {
  flex: 1 1 auto;
  height: 0;
}

.MainResult {
  padding-bottom: 20px;
}

.ResultHeader {
  text-align: left;
  color: mat-color($mat-gray, 700);
  font-size: 18px;
  margin: 0;
  display: flex;
  align-items: center;
}

.ListItem {
  padding: 10px;
  display: flex;
}

.IconDetails {
  align-items: center;
  display: flex;
  font-size: 12px;
  padding: 5px;
  color: mat-color($mat-teal, 400);
}

.IconText {
  color: mat-color($mat-gray, 600);
  align-items: center;
  display: flex;
}

.MainResult /deep/ .mat-list-base {
  padding-top: 0;
}

.NameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: mat-color($mat-gray, 600);
  font-size: 12px;
  flex: 1 1 auto;
  width: 0;
}

.IconDetails.mat-list-icon {
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
}

.ResTitleButton {
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: mat-color($mat-gray, 700);
  padding: 0;
}

.ResContent {
  display: inline-block;
  margin: 0;
  max-height: 18px;
  font-size: 12px;
  font-weight: lighter;
  color: mat-color($mat-gray, 600);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ResContent /deep/ img {
  display: none;
}

.ResultHeaderContent {
  display: flex;
  width: 100%;
}

.QuestionHeaderAndContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 0;
  padding: 0 8px;
  max-width: 320px;
}

.QuestionDetailsContainer {
  display: flex;
  flex: 0 0 auto;
  max-width: 190px;
  width: 100%;
}

.QuestionStatsContainer {
  display: flex;
  margin-right: 12px;
  flex: 0 0 auto;
}

.SearchResultName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ResultsHeaderContainer {
  display: flex;
  margin-bottom: 4px;
}

.BackIconButton {
  color: mat-color($mat-gray, 500);
}
