@import "~@angular/material/theming";

$icon-size: 32px;
$text-box-width: 33%;

:host {
  flex: 1 1 auto;
  height: 0;
  overflow: auto;
}

.Review {
  margin-bottom: 8px;
}

.PostCard {
  background: mat-color($mat-deep-orange, 100);
  color: mat-color($mat-gray, 700);
  max-width: 920px;
  width: 100%;
}

.PostTextArea /deep/ .angular-editor-toolbar {
  background: mat-color($mat-gray, 200);
}

.PostTextArea /deep/ .angular-editor-wrapper {
  background: white;
}

.PostTextArea /deep/ .angular-editor-button[title="Clear Formatting"],
.PostTextArea /deep/ .angular-editor-button[title="Custom Style"],
.PostTextArea /deep/ .select-custom-style[title="Custom Style"],
.PostTextArea /deep/ .angular-editor-button[title="HTML Code"] {
  display: none;
}

.PostEditor {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.DoneButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.RaisedDoneButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  text-transform: uppercase;
}

.AutocompletePostContainer {
  max-width: $text-box-width;
}

.PostCardTitle {
  font-size: 24px;
}

.PostTitleText {
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 0px;
} @media (max-width: 800px) {
  .PostTitleText {
    font-size: 18px;
  }
}

.PostTitle {
  max-width: $text-box-width;
}

.PostHeader {
  justify-content: center;
}

.CourseNameSelector {
  width: 100%;
}

.AutocompletePost /deep/ .mat-form-field-flex {
  background: white !important;
}

.CourseTag {
  color: mat-color($mat-gray, 700);
  background-color: mat-color($mat-gray, 300);
  margin-bottom: 12px !important;
}

.ChipList {
  //margin-left: 8px;
}

.SelectedCourses {
  align-items: center;
  display: flex;
}

@media (max-width:800px) {
  .Label /deep/ .mat-form-field-flex{
    max-height: 40px;
    min-width: 160px;
  }
}
@media (max-width:800px) {
  .Label /deep/ .mat-form-field-wrapper {
    min-width: 160px;
    padding-bottom: 20px;
  }
}

@media (max-width:800px) {
  .Label /deep/ .mat-form-field-infix{
    padding-bottom: 0px;
  }
}
