<app-nav-bar></app-nav-bar>
<div class="MainWrapper" #coursesPageWrapper>
  <div class="SearchContainer" *ngIf="isLoaded">
    <app-autocomplete [isRequired]="false"
                      [isCourseSearch]="true"
                      class="AutocompleteCourses"
                      [options]="allCourses"
                      (optionSelected)="navigateToCoursePage($event)"
                      [placeholder]="'Search a course...'">
    </app-autocomplete>
  </div>
  <mat-tab-group class="CoursesViewTabs">
    <mat-tab label="All Courses">
      <app-spinner *ngIf="!isLoaded"></app-spinner>
      <ng-container *ngIf="isLoaded">
        <mat-list>
          <mat-list-item class="ListItem" *ngFor="let course of coursesToDisplay">
            <button mat-flat-button
                    mat-line
                    matTooltip="{{course.name}}"
                    class="mat-h4 CourseName"
                    (click)="navigateToCoursePage(course)">
              <span class="AllCoursesCourseName">{{course.name}}</span>
              <mat-icon class="CourseIcon AllCoursesIcon">school</mat-icon>
            </button>
            <span mat-line class="CourseNum">{{course.courseNumber}}</span>
          </mat-list-item>
        </mat-list>
        <div class="ShowMoreButtonContainer">
          <button mat-flat-button (click)="showMore()" class="ShowMoreButton">Show more courses...</button>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="My Courses">
      <app-spinner *ngIf="!isUserCoursesLoaded"></app-spinner>
      <ng-container *ngIf="isUserCoursesLoaded">
        <mat-list>
          <mat-list-item class="ListItem" *ngFor="let course of myCourses">
            <div mat-line class="CourseHeader">
              <button mat-flat-button class="mat-h4 MyCoursesCourseName" matTooltip="{{course.name}}"
                      (click)="navigateToCoursePage(course)">
                {{course.name}}
              </button>
              <div class="IconsContainer">
                <button mat-icon-button class="RemoveFromMyCourses"
                        (click)="removeFromMyCourses(course)"
                        matTooltip="Remove from my courses">
                  <mat-icon class="CourseIcon RemoveIcon">remove_circle_outline</mat-icon>
                </button>
              </div>
            </div>
            <span mat-line class="CourseNum">{{course.courseNumber}}</span>
          </mat-list-item>
        </mat-list>
        <button *ngIf="myCourses.length > 0" mat-flat-button class="AddToMyCoursesContainer" (click)="addCourses()">
          Add more courses...
          <mat-icon class="AddCoursesIcon">playlist_add</mat-icon>
        </button>
        <ng-container *ngIf="isUserCoursesLoaded && myCourses.length == 0">
          <button mat-flat-button class="AddToMyCoursesContainer" (click)="addCourses()"
                  matTooltip="Click to add courses">
            You didn't choose your courses yet...
            <mat-icon class="AddCoursesIcon">playlist_add</mat-icon>
          </button>
        </ng-container>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
<button (click)="scrollToTop()"
        mat-mini-fab
        class="BackToTopButton"
        matTooltip="Scroll back to top">
  <mat-icon>arrow_upward</mat-icon>
</button>
