@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.CourseSearch {
  max-width: 25%;
  padding: 10px;
}

.AutocompleteCourses /deep/ .mat-form-field-flex {
  //background: white !important;
  padding: 0 .5em !important;
}
.mat-tab label {
  background-color: darkgray;
}

h3.mat-subheader{
  font-size: 20px;
  color: mat-color($mat-gray, 500);
}

.ListItem /deep/ .mat-list-text {
  background-color: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 600);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
} @media (min-width: 801px) {
  .ListItem /deep/ .mat-list-text {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  .ListItem /deep/ .mat-list-item-content {
    padding: 0 8px !important;
  }
}

.Group /deep/ div.mat-list-item-content {
  flex-direction: row-reverse;
  padding: 0;
}
.Group /deep/ .mat-tab-label {
  background-color: darkgray;
  font-size: 14px;
  font-weight: bold;
}

.CoursesViewTabs /deep/ .mat-ink-bar {
  background: mat-color($mat-deep-orange, 200);
}

.CoursesViewTabs /deep/ .mat-tab-label {
  font-weight: 700;
  font-size: 15px;
} @media (max-width: 800px) {
  .CoursesViewTabs /deep/ .mat-tab-label {
    flex: 1 1 auto;
  }
}

.CoursesViewTabs /deep/ .mat-tab-label-active {
  color: mat-color($mat-gray, 800);
}

.NameAndCourseNum /deep/ .mat-line{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-width: 16%;
  width: 100%;
}

.CourseNum /deep/ .mat-list-item {
  padding-left: 10px;
}

.CourseHeader {
  background-color: mat-color($mat-gray, 200);
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.CourseHeader.mat-line {
  display: inline-flex;
}

.CourseName {
  background-color: mat-color($mat-gray, 200);
  color: mat-color($mat-gray, 700);
  text-align: left;
  display: flex;
}

.MyCoursesCourseName {
  //background-color: transparent;
  flex: 1 1 auto;
  width: 0;
  background-color: mat-color($mat-gray, 200);
  color: mat-color($mat-gray, 700);
  text-align: left;
  display: flex;
  padding-right: 0;
  padding-left: 12px;
}

.MyCoursesCourseName /deep/ .mat-button-wrapper {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.CourseName /deep/ .mat-button-wrapper {
  padding-left: 12px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CourseNum /deep/ span {
  padding-left: 12px;
}

.CourseIcon {
  flex: 0 0 auto;
  margin-left: auto;
  color: mat-color($mat-deep-orange, 100);
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.RemoveIcon {
  color: mat-color($mat-deep-orange, 200);
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px !important;
}

.AllCoursesIcon {
  flex: 0 0 auto;
}

.SearchContainer {
  display: flex;
  position: absolute;
  top: 2px;
  right: 16px;
  min-width: 320px;
  z-index: 10;
} @media (max-width: 800px) {
  .SearchContainer {
    position: relative;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.MainWrapper {
  padding: 10px 0;
  position: relative;
  flex: 1 1 auto;
  height: 0;
  overflow: auto;
} @media (max-width: 800px) {
  .MainWrapper {
    display: flex;
    flex-direction: column;
  }
}

.AllCoursesCourseName {
  flex: 1 1 auto;
  width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  padding-right: 4px;
}

.AddToMyCoursesContainer {
  background: transparent;
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 16px;
  color: mat-color($mat-gray, 500);
} @media (max-width: 800px) {
  .AddToMyCoursesContainer {
    padding-left: 10px;
    padding-right: 8px;
    width: 100%;
  }
}

.Button {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.AddCoursesIcon {
  color: mat-color($mat-gray, 700);
  font-size: 20px;
  vertical-align: center;
  padding-left: 6px;
}

.RemoveFromMyCourses {
  flex: 0 0 auto;
  z-index: 1;
}

.BackToTopButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-deep-orange, 100);
  position: fixed;
  right: 26px;
  bottom: 10px;
  z-index: 1;
} @media (max-width: 800px) {
  .BackToTopButton {
    right: 8px;
  }
}

.ShowMoreButton {
  background-color: transparent;
  border: 2px solid mat-color($mat-gray, 600);
  color: mat-color($mat-gray, 600);
  width: 100%;
  transition-property: background-color;
  transition-duration: 0.5s;
} @media (min-width: 801px) {
  .ShowMoreButton {
    max-width: 400px;
  }
}

.ShowMoreButton:hover {
  background-color: mat-color($mat-deep-orange, 100);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.ShowMoreButtonContainer {
  padding: 8px 16px 0;
} @media (max-width: 800px) {
  .ShowMoreButtonContainer {
    padding: 8px 8px 0;
  }
}

.IconsContainer {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
}

.CourseNum {
  padding-left: 12px !important;
}

.ContactUsIcon {
  color: mat-color($mat-gray, 500);
}

.ContactUsButton {
  padding-top: 6px;
} @media (max-width: 800px) {
  .ContactUsButton {
    display: none;
  }
}

.AutocompleteCoursesContainer {
  flex: 1 1 auto;
}

.SendUsEmailDescription {
  font-size: 14px;
}

.SendUsEmailContainer {
  padding: 0 6px;
  font-size: 14px;
}

.FacultyFilter {
  @include mat-elevation(2);
  border: 1.5px solid mat-color($mat-gray, 300);
  background: mat-color($mat-gray, 200);
  font-size: 11px;
  font-weight: 500;
  align-items: center;
} @media (max-width: 800px) {
  .FacultyFilter {
    font-size: 10px;
  }
}

.FacultyFilterTab {
  background: transparent !important;
  color: mat-color($mat-gray, 600) !important;
  z-index: 100;
  position: relative;
}

.FacultyFilterTab+.FacultyFilterTab {
  border-left: 1.5px solid mat-color($mat-gray, 300) !important;
}

.FacultyFilterTab.mat-button-toggle-checked {
  background: mat-color($mat-deep-orange, 100) !important;
}

.FacultyFilterTab /deep/ .mat-button-toggle-label-content {
  line-height: 30px;
  padding: 0 6px !important;
}

.FacultyFilterContainer {
  z-index: 100000;
  padding: 12px 4px 4px;
  position: relative;
} @media (max-width: 800px) {
  .FacultyFilterContainer {
    width: 100%;
    overflow: auto;
  }
}
