<app-nav-bar></app-nav-bar>
<div class="MainWrapper">
  <mat-tab-group class="CoursesViewTabs">
    <mat-tab label="All Courses">
      <app-spinner *ngIf="!isLoaded"></app-spinner>
      <ng-container *ngIf="isLoaded">
        <mat-list>
          <mat-list-item class="ListItem" *ngFor="let course of allCourses">
            <button mat-flat-button mat-line class="mat-h4 CourseName" (click)="navigateToCoursePage(course)">
              <span class="AllCoursesCourseName">{{course.name}}</span>
              <mat-icon class="CourseIcon">school</mat-icon>
            </button>
            <span mat-line class="CourseNum">
            {{course.courseNumber}}
          </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </ng-container>
    </mat-tab>
    <mat-tab label="My Courses">
      <mat-list>
        <mat-list-item class="ListItem" *ngFor="let course of myCourses">
            <button mat-flat-button mat-line class="mat-h4 CourseName" (click)="navigateToCoursePage(course)">
            {{course.name}}
              <mat-icon class="CourseIcon">school</mat-icon>
          </button>
          <span mat-line class="CourseNum">
            <span>{{course.courseNumber}}</span>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  <div class="SearchContainer">
    <app-autocomplete [isRequired]="false"
                      [isCourseSearch]="true"
                      class="AutocompleteCourses"
                      [options]="courseNames"
                      (optionSelected)="navigateToCoursePage($event)"
                      [placeholder]="'Search a course...'">
    </app-autocomplete>
  </div>
</div>
