@import "~@angular/material/theming";

.CourseSearch {
  max-width: 25%;
  padding: 10px;
}

.AutocompleteCourses /deep/ .mat-form-field-flex {
  //background: white !important;
  padding: 0 .5em !important;
}
.mat-tab label {
  background-color: darkgray;
}

h3.mat-subheader{
  font-size: 20px;
  color: mat-color($mat-gray, 500);
}

.ListItem /deep/ .mat-list-text {
  background-color: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 600);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  max-width: 400px;
  width: 100%;
}

.Group /deep/ div.mat-list-item-content {
  flex-direction: row-reverse;
  padding: 0;
}
.Group /deep/ .mat-tab-label {
  background-color: darkgray;
  font-size: 14px;
  font-weight: bold;
}

.CoursesViewTabs /deep/ .mat-ink-bar {
  background: mat-color($mat-deep-orange, 200);
}

.CoursesViewTabs /deep/ .mat-tab-label {
  font-weight: 700;
  font-size: 15px;
}

.CoursesViewTabs /deep/ .mat-tab-label-active {
  color: mat-color($mat-gray, 800);
}

.NameAndCourseNum /deep/ .mat-line{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-width: 16%;
  width: 100%;
}

.CourseNum /deep/ .mat-line {
   padding-left: 10px;
 }

.CourseNum /deep/ .mat-list-item {
  padding-left: 10px;
}

.CourseHeader {
  background-color: mat-color($mat-gray, 200);
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.CourseHeader.mat-line {
  display: inline-flex;
}

.CourseName {
  background-color: mat-color($mat-gray, 200);
  color: mat-color($mat-gray, 700);
  text-align: left;
  display: flex;
}

.MyCoursesCourseName {
  //background-color: transparent;
  flex: 1 1 auto;
  width: 0;
  background-color: mat-color($mat-gray, 200);
  color: mat-color($mat-gray, 700);
  text-align: left;
  display: flex;
}

.CourseName /deep/ .mat-button-wrapper {
  padding-left: 10px;
}

.CourseNum /deep/ span{
  padding-left: 10px;
}

.CourseIcon {
  flex: 0 0 auto;
  color: mat-color($mat-gray, 500);
}

.CourseIcon{
  margin-left: auto;
  color: mat-color($mat-deep-orange, 100);
  font-size: 20px;
}

.RemoveIcon {
  font-size: 16px;
}

.AllCoursesIcon {
  padding-left: 4px;
}

.SearchContainer {
  position: absolute;
  top: 4px;
  right: 16px;
  min-width: 300px;
  z-index: 10;
} @media (max-width: 800px) {
  .SearchContainer {
    position: relative;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.MainWrapper {
  padding: 10px 0;
  position: relative;
  //mobile: colomn
} @media (max-width: 800px) {
  .MainWrapper {
    display: flex;
    flex-direction: column;
  }
}

.AllCoursesCourseName {
  flex: 1 1 auto;
  width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.AddToMyCoursesContainer {
  background: transparent;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: mat-color($mat-gray, 500);
}

.Button {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.AddCoursesIcon {
  color: mat-color($mat-gray, 700);
  font-size: 20px;
  vertical-align: center;
  padding-left: 6px;
}

.RemoveFromMyCourses {
  flex: 0 0 auto;
}
