@import "~@angular/material/theming";

.AutocompleteField {
  width: 100%;
}

.Option {
  font-size: 14px;
  height: 36px;
}

.AutocompleteField /deep/ .mat-form-field-flex {
  background-color: transparent;
  /*background: mat-color($mat-gray, 400);*/
  padding: .5em .5em 0 .5em;
}

.AutocompleteHomePage /deep/ .mat-form-field-flex {
  padding: .25em .25em 0 .25em;
}

.AutocompleteField /deep/ .mat-form-field-underline:before {
  background: mat-color($mat-gray, 500);
  height: 2px;
}

.AutocompleteField /deep/ .mat-form-field-ripple {
  background: mat-color($mat-deep-orange, 200);
}
