<mat-form-field class="AutocompleteField {{editorCss}} {{outlineCss}}" appearance="{{appearance}}">
  <input type="text" placeholder="{{placeholder}}" aria-label="Number" matInput [formControl]="myControl"
         [matAutocomplete]="auto" [required]="isRequired" #input>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="emitOption($event)">
    <mat-option class="Option"
                *ngFor="let option of filteredOptions | async"
                [value]="option" matTooltip="{{option}}">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="!isRequired && !isCourseSearch">[optional]</mat-hint>
  <mat-hint *ngIf="isRequired">[required]</mat-hint>
</mat-form-field>
