<div class="ResetPassDialog">
  <h1 mat-dialog-title class="ResetPassDialogTitle">Reset Password</h1>
  <mat-dialog-content class="ResetDialogContent">
    <span>Please insert your email address to reset your password</span>
    <span>
      <form [formGroup]="EmailForm" (ngSubmit)="sendEmail(EmailForm.value)">
        <mat-form-field appearance="fill" class="LongField Field">
      <input matInput placeholder="" [type]="'email'" formControlName="email">
    </mat-form-field>
        <mat-dialog-actions class="ResetDialogDoneButtonContainer">
    <button mat-raised-button class="SubmitButton" type="submit"
            [disabled]="!EmailForm.valid">SUBMIT</button>
  </mat-dialog-actions>
      </form>
    </span>
  </mat-dialog-content>
</div>
