@import "~@angular/material/theming";

$icon-size: 32px;

.QuestionCard {
  background: mat-color($mat-deep-orange, 100);
  max-width: 75%;
  width: 100%;
}

.CourseTag {
  color: mat-color($mat-gray, 700);
  background-color: mat-color($mat-gray, 300);
}

.QuestionEditorHeader {
  color: mat-color($mat-gray, 100);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

//.QuestionTextArea {
//  background: white;
//}

.QuestionTextArea /deep/ .angular-editor-wrapper,
.QuestionTextArea /deep/ .angular-editor-toolbar  {
  background: white;
}

.QuestionEditorHeaderText {
  font-weight: 400;
}

.QuestionEditor {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.Title {
  max-width: 25%;
  width: 100%;
}

.TitleText {
  color: mat-color($mat-gray, 700);
}

.SelectedCourses {
  align-items: center;
  display: flex;
}

.ChipList {
  margin-right: 8px;
}

.PlusIconButton {
  background: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 700);
  height: $icon-size;
  line-height: $icon-size;
  width: $icon-size;
}

.PlusIcon {
  font-size: 18px;
}

.DoneButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.RaisedDoneButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  //font-size: 15px;
  text-transform: uppercase;
}
