<button mat-raised-button class="FileUploaderRaisedButton" (click)="clickInput()" color="primary" *ngIf="!imageSrc">
  Choose a photo...
</button>
<div *ngIf="imageSrc" class="AfterImageSelected">
  <img class="UploadedImage" src="{{imageSrc}}">
  <div class="IconButtonsContainer">
    <button mat-icon-button matTooltip="Select new image" (click)="clickInput()" class="ImageSelectorIconButton">
      <mat-icon class="ImageSelectorIcon">edit</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Remove selected image" (click)="removeImage()" class="ImageSelectorIconButton">
      <mat-icon class="ImageSelectorIcon">cancel</mat-icon>
    </button>
  </div>
</div>

<input type="file" hidden (change)="addSelectedPhoto($event)" #inputFilePicker>
