<mat-card class="PostCard">
  <mat-card-header class="questionHeader">
    <mat-card-title class="TitleAndIcons">
      <span class="mat-h2 PostTitle">Amortized time complexity</span>
      <span class="EditAndLockButtonsContainer">
        <button mat-icon-button matTooltip="Edit question" class="Button"><mat-icon class="Icon">edit</mat-icon></button>
        <button mat-icon-button matTooltip="Lock this post" class="Button"><mat-icon class="Icon">lock_open</mat-icon></button>
      </span>
    </mat-card-title>
    <div class="NameAndDate">
      <div>Netanel Yosephian</div>
      <div>{{date | date}}</div>
    </div>
  </mat-card-header>
  <mat-card-content class="MainQuestionContent">
    <div class="Content">
      What is meant by "Constant Amortized Time" when talking about time complexity of an algorithm?
    </div>
    <div class="QuestionBottom">
      <div class="LikeButtonContainer">
        <button mat-icon-button class="Button" (click)="onClickMe()"><mat-icon class="ThumbIcon">thumb_up</mat-icon></button>
        <span class="NumOfLikes">{{answerScore}}</span>
      </div>
      <button mat-raised-button class="AnswerButton">ANSWER</button>
    </div>
  </mat-card-content>
  <!--<mat-card-footer class="QuestionBottom">-->
    <!--<div>-->
      <!--<button mat-icon-button class="Button"><mat-icon class="Icon">thumb_up</mat-icon></button> 27-->
    <!--</div>-->
    <!--<button mat-raised-button class="AnswerButton">+ ANSWER</button>-->
  <!--</mat-card-footer>-->
</mat-card>
