@import "~@angular/material/theming";

.QuestionCard {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.UserPicture {
  font-size: 12px;
  text-align: center;
  max-width: 70px;
}

.ContentAndDetails {
  display: flex;
  justify-content: space-between;
}

.QuestionContent {
  color: mat-color($mat-gray, 800);
  font-size: 14px;
}

.PostCard {
  background: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 600);
  margin-left: 20px;
  align-self: flex-end;
  flex: 1 1 auto;
  width: 0;
  padding-bottom: 10px;
}

.ButtonsContainer {
  align-items: center;
  display: flex;
}

.CardProfileImage {
  height: 65px;
  width: 65px;
  padding: 5px;
  border-radius: 50%;
  align-self: center;
}

.Icon {
  color: mat-color($mat-gray, 700);
  font-size: 20px;
  vertical-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.ThumbIcon {
  color: mat-color($mat-gray, 700);
  vertical-align: center;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  width: 20px
}

.Button {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.LikeButtonContainer {
  display: flex;
  align-items: center;
}

.NumOfLikes {
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-left: 2px;
  color: mat-color($mat-gray, 700);
  font-size: 14px;
}

.Date {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.EditAndLockButtonsContainer {
  align-items: center;
  display: flex;
}

.Content {
  background: mat-color($mat-gray, 200);
  color: mat-color($mat-gray, 700);
  border-radius: 4px;
  border-color: mat-color($mat-gray, 500);
  border-width: thin;
  border-style: solid;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 60px;
  //vertical-align: center;
  padding: 8px;
}

.QuestionBottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  padding-top: 8px;
}

.AnswerButton {
  background: mat-color($mat-gray, 400);
  border-radius: 6px;
  line-height: 27px; //
  color: mat-color($mat-gray, 800);
  font-size: 12px; //
}
