<mat-card class="PostCard">
  <mat-card-header class="questionHeader">
    <mat-card-title class="TitleAndIcons">
      <span class="mat-h2 PostTitle">{{question.subject}}</span>
      <span class="EditAndLockButtonsContainer">
      <button mat-icon-button matTooltip="Edit question" class="Button">
        <mat-icon class="Icon">edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Lock this post" class="Button">
        <mat-icon class="Icon">lock_open</mat-icon>
      </button>
    </span>
    </mat-card-title>
    <div class="NameAndDate">
      <div>{{question.owner.name.first}} {{question.owner.name.last}}</div>
      <div>{{question.timeStamp | date}}</div>
    </div>
  </mat-card-header>
  <mat-card-content class="MainQuestionContent">
    <div class="Content" [innerHtml]="question.content"></div>
    <div class="QuestionBottom">
      <div class="LikeButtonContainer">
        <button mat-icon-button class="Button" (click)="upvote()">
          <mat-icon class="ThumbIcon">thumb_up</mat-icon>
        </button>
        <span class="NumOfLikes">{{question.upvote.count}}</span>
      </div>
      <button mat-raised-button class="AnswerButton" (click)="newAnswer()">ANSWER</button>
    </div>
  </mat-card-content>
</mat-card>
