<div class="QuestionCard" *ngIf="question">
  <div class="UserPicture">
    <app-clickable-profile-picture
      [isUserOwner]="isUserOwner" [owner]="question.owner"></app-clickable-profile-picture>
    <div>{{question.owner.name.first}} {{question.owner.name.last}}</div>
  </div>
  <mat-card class="PostCard">
    <mat-card-content class="ContentAndDetails">
      <div class="QuestionContent" [innerHtml]="initialContent" #contentContainer></div>
      <div class="Date">
        {{question.timestamp | date}}
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="QuestionBottom">
    <span class="ButtonsContainer">
      <button mat-icon-button class="Button" (click)="upvote()">
          <mat-icon class="ThumbIcon">thumb_up</mat-icon>
        </button>
      <span class="NumOfLikes">{{question.upvote.count}}</span>
    </span>
      <button *ngIf="!isLocked" mat-raised-button class="AnswerButton" (click)="newAnswer()">ANSWER</button>
    </div>
  </mat-card>
</div>
