<mat-card class="HomeCard {{classes}}" [ngClass]="{'mat-elevation-z5': true}">
  <app-spinner *ngIf="!isLoaded"></app-spinner>
  <ng-container *ngIf="isLoaded">
    <h2 class="mat-h2 UserName" *ngIf="!isProfilePage && !isDetailsDialog">Hello {{userDetails.name.first}}!</h2>
    <h2 class="mat-h2 UserName" *ngIf="isProfilePage || isDetailsDialog"
        [ngClass]="{'DetailsDialogName': isDetailsDialog}">{{userDetails.name.first}} {{userDetails.name.last}}</h2>
    <div class="mat-body-2 Program" *ngIf="userDetails.program">{{userDetails.program}}</div>
    <img *ngIf="!userDetails.image" src="{{defaultImage}}"
         class="CardProfileImage {{isDetailsDialog ? 'DetailsDialogImage' : ''}}">
    <img *ngIf="userDetails.image" src="data:image/png;base64,{{userDetails.image}}"
         class="CardProfileImage {{isDetailsDialog ? 'DetailsDialogImage' : ''}}">
    <div class="mat-body DetailsDialogEmail" *ngIf="isDetailsDialog">
      <app-copy-to-clipboard [email]="userDetails.email"></app-copy-to-clipboard>
    </div>
    <div class="DividerContainer">
      <mat-divider></mat-divider>
    </div>
    <div class="UserRank">
      <div class="ScoreTitle">Score: </div> {{userDetails.rank}}
      <img class="RankIcon" src="https://img.icons8.com/wired/36/424242/{{rankTitle}}.png">
    </div>
    <ng-container *ngIf="isProfilePage || isDetailsDialog">
      <div class="mat-body About">
        <div class="DescriptionTitle" *ngIf="userDetails.description">Description:</div>
        <div>{{userDetails.description}}</div>
      </div>
      <div *ngIf="userDetails.skills && userDetails.skills.length > 0" class="mat-body Skills">
        Skills:
        <mat-chip-list>
          <mat-chip class="Chip" *ngFor="let skill of userDetails.skills" (click)="navigateToCoursePage(skill)">{{skill.name}}</mat-chip>
        </mat-chip-list>
      </div>
      <button *ngIf="!isDetailsDialog" mat-raised-button class="EditProfileButton" (click)="editProfile()">
        Edit Profile
      </button>
    </ng-container>
  </ng-container>
</mat-card>
