@import "~@angular/material/theming";

.PostTextArea /deep/ .angular-editor-toolbar {
  background: mat-color($mat-gray, 200);
}

.PostTextArea /deep/ .angular-editor-wrapper {
  background: white;
}

.PostTextArea /deep/ img {
  max-width: 500px;
  max-height: 500px;
}

.PostTextArea /deep/ .angular-editor-button[title="Clear Formatting"],
.PostTextArea /deep/ .angular-editor-button[title="Custom Style"],
.PostTextArea /deep/ .angular-editor-button[title="Insert Image"],
.PostTextArea /deep/ .select-custom-style[title="Custom Style"],
.PostTextArea /deep/ .angular-editor-button[title="HTML Code"] {
  display: none;
}

.PostTextArea /deep/ .angular-editor-wrapper {
  max-height: 170px;
}

.PostTextArea /deep/ .angular-editor-textarea {
  max-height: 146px;
}

.AnswerTextArea /deep/ .angular-editor-wrapper {
  max-height: 150px;
}

.AnswerTextArea /deep/ .angular-editor-textarea {
  max-height: 126px;
}

.Button {
  background: mat-color($mat-gray, 100);
  color: mat-color($mat-gray, 800);
  text-transform: uppercase;
  line-height: 27px;
  font-size: 12px;
  margin: 4px 8px 4px 0;
} @media (max-width: 800px) {
  .Button {
    padding-right: 7px;
    padding-left: 7px;
    font-size: 11px;
  }
}

.Button /deep/ .mat-button-wrapper {
  align-items: center;
  display: inline-flex;
}

.LatexLogo {
  height: 20px;
  margin-left: 6px;
  width: 20px;
}

.PhotoIcon {
  margin-left: 6px;
} @media (max-width:800px) {
  .PhotoIcon {
    margin-left: 3px;
  }
}
