@import '~@angular/material/theming';

.SearchComponent {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FilterChipsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.SearchBox {
  padding: 10px;
  max-width: 100%;
  width: 100%;
}

.SearchBox /deep/ .mat-form-field-outline-thick {
  //background: mat-color($mat-deep-orange, 200);
  color: mat-color($mat-deep-orange, 200);
}

.mat-form-field-appearance-outline /deep/ .mat-form-field-outline {
  //background: mat-color($mat-gray, 500);
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.SearchBox /deep/ .mat-form-field-ripple {
  background: mat-color($mat-deep-orange, 200);
}

.SearchBox /deep/ .mat-form-field-wrapper {
  padding: 0;
}

.SearchIcon {
  color: mat-color($mat-gray, 500);
}

.SelectCourse {
  width: 25%;
}

.ActionButtonsContainer {
  display: flex;
}

.Results {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  padding-bottom: 10px;
}

.Results /deep/ .mat-list-base{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
