<mat-card class="AnswerCard">
  <mat-card-header class="AnswerHeader">
    <mat-card-title>
    </mat-card-title>
    <div class="NameAndDate">
      <div>{{answer.owner.name.first}} {{answer.owner.name.last}}</div>
      <div>{{answer.timestamp | date}}</div>
    </div>
  </mat-card-header>
  <mat-card-content class="AnswerContent">
    <div class="Content" [innerHtml]="answer.content"></div>
    <div class="AnswerBottom">
      <div class="LikeButtonContainer">
        <button mat-icon-button class="Button" (click)="upvote()">
          <mat-icon class="ThumbIcon">thumb_up</mat-icon>
        </button>
        <span class="NumOfLikes">{{answer.upvote.count}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
