<mat-card class="AnswerCard">
  <mat-card-header class="AnswerHeader">
    <mat-card-title>
    </mat-card-title>
    <div class="NameAndDate">
      <div>Netanel Yosephian</div>
      <div>{{date | date}}</div>
    </div>
  </mat-card-header>
  <mat-card-content class="AnswerContent">
    <div class="Content">
      What is meant by "Constant Amortized Time" when talking about time complexity of an algorithm?
    </div>
    <div class="QuestionBottom">
      <div class="LikeButtonContainer">
        <button mat-icon-button class="Button"><mat-icon class="ThumbIcon">thumb_up</mat-icon></button>
        <span class="NumOfLikes">27</span>
      </div>
      <button mat-raised-button class="AnswerButton">+ ANSWER</button>
    </div>
  </mat-card-content>
</mat-card>
