<div class="AnswerCard">
  <div class="UserPicture">
    <img src="{{'../../assets/geffen.jpg'}}" class="CardProfileImage">
    <div>{{answer.owner.name.first}} {{answer.owner.name.last}}</div>
  </div>
  <mat-card class="{{isEvenAnswer ? 'EvenPostCard' : 'OddPostCard'}} mat-card">
    <mat-card-content class="ContentAndDetails">
      <div class="AnswerContent" [innerHtml]="answer.content"></div>
      <div class="Date">
        {{answer.timestamp | date}}
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <div class="AnswerBottom">
    <span class="ButtonsContainer">
      <button mat-icon-button class="Button" (click)="upvote()">
          <mat-icon class="ThumbIcon">thumb_up</mat-icon>
        </button>
      <span class="NumOfLikes">{{answer.upvote.count}}</span>
    </span>
    </div>
  </mat-card>
</div>
