<div class="SignUpPage">
  <app-nav-bar [isSignUp]="true" (loginAttempt)="tryLogin($event)"></app-nav-bar>
  <mat-card class="SignUpCard">
    <mat-card-header class="SignUpHeader">
      <mat-card-title class="SignUpTitle">
        Sign Up
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="GoogleLogin">
        <img src="../../assets/google-normal.png" (click)="tryGoogleLogin()" class="GoogleLoginNormal">
      </div>
      <div class="SeparatorContainer">
        <div class="Separator" content="''"></div>
        <span class="OrText">OR</span>
        <div class="Separator" content="''"></div>
      </div>
      <form [formGroup]="signUpForm" (ngSubmit)="tryRegister(signUpForm.value)">
        <div class="Name">
          <mat-form-field appearance="fill" class="ShortField Field">
            <mat-label>First name</mat-label>
            <input matInput placeholder="" required formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="fill" class="ShortField Field">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="" required formControlName="lastName">
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="LongField Field">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" required [type]="'email'" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill" class="LongField Field">
          <mat-label>Password</mat-label>
          <input matInput placeholder="" required [type]="hidePassword ? 'password' : 'text'"
                 formControlName="password">
          <mat-icon class="HideIcon" matSuffix (click)="hidePassword = !hidePassword">
            {{hidePassword ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
        <div class="ButtonContainer">
          <button mat-raised-button class="CreateAccountButton"
                  color="primary"
                  type="submit"
                  [disabled]="!signUpForm.valid">
            Create Account
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <button mat-button class="ResetPassword" (click)="resetPassword()">forgot password?</button>
</div>

