@import "~@angular/material/theming";

.course-card {
  background: mat-color($mat-deep-orange, 100);
  color: mat-color($mat-gray, 100);
  margin: 20px;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} @media (min-width: 801px) {
  .course-card {
    margin: 20px;
    max-width: 190px;
  }
}

.Reviews {
  text-align: center;
} @media (max-width: 800px) {
  .Reviews {
    text-align: left;
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
} @media (min-width: 801px) {
  .Reviews {
    font-weight: 500;
  }
}

.page {
  color: mat-color($mat-gray, 500);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardsWrapper {
  display: flex;
} @media (max-width: 800px) {
  .CardsWrapper {
    display: none;
  }
}

.Star {
  color: mat-color($mat-teal, 400);
  justify-content: center;
  margin-bottom: 5px;
} @media (max-width: 800px) {
  .Star {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}

.Button {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.AddCourseIcon {
  color: mat-color($mat-gray, 700);
  font-size: 14px;
  vertical-align: center;
  height: 14px;
  width: 14px;
  margin-left: 1px;
}

.RemoveCourseIcon {
  color: mat-color($mat-gray, 500);
  font-size: 20px;
  vertical-align: center;
}

.SmallStar {
  color: mat-color($mat-teal, 400);
  justify-content: center;
}

.CourseTitle {
  margin: 5px;
  justify-content: center;
  text-align: center;
}

.CourseNumber {
  justify-content: center;
  color: mat-color($mat-gray, 500);
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
} @media (max-width: 800px) {
  .CourseNumber {
    font-size: 18px;
  }
}

.CoursePageButton {
  background: mat-color($mat-gray, 400);
  color: mat-color($mat-gray, 600);
  margin: 4px;
  max-height: 32px;
}

.Tabs {
}

.Tabs /deep/ .mat-ink-bar {
  background: mat-color($mat-deep-orange, 200);
}

.Tabs /deep/ .mat-tab-label {
  font-weight: 700;
  font-size: 15px;
}

.Tabs /deep/ .mat-tab-label-active {
  color: mat-color($mat-gray, 800);
}

.ListItem {
  color: mat-color($mat-gray, 600);
}

.ListItem /deep/ .mat-list-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: mat-color($mat-gray, 300);
  margin-bottom: 5px;
  padding: 10px;
} @media (max-width: 800px) {
  .ListItem /deep/ .mat-list-text {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.CourseReviewNameAndDate {
  display: flex;
  flex: 0 0 auto;
  max-width: 160px;
  width: 100%;
} @media (max-width: 800px){
  .NameAndDate {
    max-width: 20%;
    margin-right: 2px;
    font-size: 12px;
  }
}

.QuestionTitle {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
  background-color: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 600);
  padding: 0 10px;
  text-align: left;
  flex: 1 1 auto;
  width: 0;
}

.PostSubject {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  color: mat-color($mat-gray, 600);
}

.QuestionTitle /deep/ .mat-button-wrapper {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.QuestionTitle /deep/ .mat-button-wrapper {
  display: flex;
  flex-direction: column;
}

.CoursePageButtonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.AddToMyCoursesButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: mat-color($mat-gray, 600);
  //max-height: 32px;
  background: transparent;
  font-size: 12px;
}

.CoursePageExpansionPanel {
  background: mat-color($mat-gray, 300);
}

.CoursePageAccordion .mat-expansion-panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
} @media (max-width: 800px) {
  .CoursePageAccordion .mat-expansion-panel {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.CourseReviewPanelTitle {
  display: flex;
  justify-content: space-between;
}

.CourseReviewSubjectAndRank {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  width: 0;
}

.SmallStarsContainer {
  margin-left: 5px;
  flex: 0 0 auto;
}

.CoursePageAccordion /deep/ .mat-expansion-panel-body {
  background: mat-color($mat-gray, 200);
  padding-top: 12px;
  padding-bottom: 12px;}

.EmailIconButton {
  color: mat-color($mat-deep-orange, 200);
}

.ContactDivider {
  margin-top: 10px;
}

.DividerContainer {
  width: 100%;
  position: relative;
  margin-top: 4px;
}

.ContactDetailsContainer {
  padding-top: 6px;
}

.NameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: mat-color($mat-gray, 600);
  font-size: 12px;
  flex: 0 0 auto;
  max-width: 120px;
  width: 100%;
}

.PostNameAndDate {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: center;
  max-width: 120px;
  width: 100%;
  overflow: hidden;
}

.DeleteIconButton {
  z-index: 1;
}

.DeleteIconButton+.DummyBox {
  display: none;
}

.CourseDeleteIcon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  line-height: 16px !important;
  color: mat-color($mat-gray, 700);
}

.DummyBox {
  content: '';
  height: 40px;
  width: 40px;
  flex: 0 0 auto;
}

.MobileCardsWrapper {
  display: flex;
  flex-direction: column;
} @media (min-width: 801px) {
  .MobileCardsWrapper {
    display: none;
  }
}

.CourseCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 0 0 auto;
}

.CourseBasicDetails {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

.MobileCourseTitle {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.CourseContactDivider {
  border-top-width: 2px;
}

.CourseFullDetails {
  padding: 10px 10px 0px;
}

.MobileAddToMyCoursesButton {
  line-height: 30px;
  max-height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: mat-color($mat-gray, 100);
  width: 100%;
}

.Title {
  font-weight: 500;
}

.Space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.MobileCoursePageButtonContainer {
  display: flex;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

.MobileCourseButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  width: 0;
}

.MobileIcon {
  font-size: 22px;
  height: 22px;
  width: 22px;
  line-height: 22px;
}

.FeatureIcon {
  //background: mat-color($mat-deep-orange, 200);
  background: mat-color($mat-gray, 600);
  //color: mat-color($mat-gray, 200);
  margin-bottom: 2px;
}

.ButtonDescription {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
}

.AllCoursePosts {
  margin-top: 20px;
  flex: 1 1 auto;
  height: 0;
}

.MobilePostHeader{
  margin-left: 20px;
}

.MobilePostsWrapper {
  padding-bottom: 18px;
}


