<app-nav-bar></app-nav-bar>
<div class="CardsWrapper">
  <mat-card class="course-card">
    <h3 class="CourseTitle">{{course_name}}Data Structures</h3>
    <div class="Stars">
      <mat-icon class="Star" *ngFor="let i of [1,2,3]">star</mat-icon>
      <mat-icon class="Star">star_half</mat-icon>
      <mat-icon class="Star">star_border</mat-icon>
    </div>
    <div> Reviews: 99 </div>
    <div class="CoursePageButtonContainer">
      <button mat-raised-button class="CoursePageButton" color="primary">Ask a question</button>
      <button mat-raised-button class="CoursePageButton" color="primary">Write a review</button>
      <button mat-raised-button class="CoursePageButton" color="primary">Find a partner</button>
      <button mat-raised-button class="CoursePageButton" color="primary">Change class hours</button>
    </div>
  </mat-card>
  <div class="page">
    <mat-tab-group class="Tabs">
      <mat-tab label="Questions" >
        <mat-list-item class="ListItem" *ngFor="let question of questions">
          <button mat-flat-button mat-line class="mat-h4 QuestionTitle">{{question.title}}</button>
          <span mat-line class="NameAndDate">
            <span>{{question.student}}</span>
            <span>{{question.updated | date}}</span>
          </span>
           </mat-list-item>
      </mat-tab>
      <mat-tab label="Reviews">
        <mat-list-item class="ListItem" *ngFor="let review of reviews">
          <button mat-flat-button mat-line class="mat-h4 QuestionTitle">
            <span>{{review.title}}
              <mat-icon [inline]="true" class="SmallStar" *ngFor="let i of [1,2,3]">star</mat-icon></span>
          </button>
          <span mat-line class="NameAndDate">
            <span>{{review.student}}</span>
            <span>{{review.updated | date}}</span>
          </span>
        </mat-list-item>
      </mat-tab>
      <mat-tab label="Partners">
        <mat-list-item class="ListItem" *ngFor="let partner of partners">
          <button mat-flat-button mat-line class="mat-h4 QuestionTitle">{{partner.title}}</button>
          <span mat-line class="NameAndDate">
            <span>{{partner.student}}</span>
            <span>{{partner.updated | date}}</span>
          </span>
        </mat-list-item>
      </mat-tab>
      <mat-tab label="Change hours"></mat-tab>
    </mat-tab-group>
  </div>
</div>
