@import "~@angular/material/theming";

.course-card {
  background: mat-color($mat-deep-orange, 100);
  color: mat-color($mat-gray, 100);
  margin: 20px;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} @media (min-width: 801px) {
  .course-card {
    margin: 20px;
    max-width: 190px;
  }
}

.Reviews {
  font-weight: 500;
  text-align: center;
}

.page {
  color: mat-color($mat-gray, 500);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardsWrapper {
  display: flex;
} @media (max-width: 800px) {
  .CardsWrapper {
    flex-direction: column;
  }
}

.Star {
  color: mat-color($mat-teal, 400);
  justify-content: center;
  margin-bottom: 5px;
}

.Button {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.AddCourseIcon {
  color: mat-color($mat-gray, 700);
  font-size: 14px;
  vertical-align: center;
  height: 14px;
  width: 14px;
  margin-left: 1px;
}

.RemoveCourseIcon {
  color: mat-color($mat-gray, 500);
  font-size: 20px;
  vertical-align: center;
}

.SmallStar {
  color: mat-color($mat-teal, 400);
  justify-content: center;
}

.CourseTitle {
  margin: 5px;
  justify-content: center;
  text-align: center;
}

.CourseNumber {
  justify-content: center;
  color: mat-color($mat-gray, 500);
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.CoursePageButton {
  background: mat-color($mat-gray, 400);
  color: mat-color($mat-gray, 600);
  margin: 4px;
  max-height: 32px;
}

.Tabs {
}

.Tabs /deep/ .mat-ink-bar {
  background: mat-color($mat-deep-orange, 200);
}

.Tabs /deep/ .mat-tab-label {
  font-weight: 700;
  font-size: 15px;
}

.Tabs /deep/ .mat-tab-label-active {
  color: mat-color($mat-gray, 800);
}

.ListItem {
  color: mat-color($mat-gray, 600);
}

.ListItem /deep/ .mat-list-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: mat-color($mat-gray, 300);
  margin-bottom: 5px;
  padding: 10px;
}

.CourseReviewNameAndDate {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  font-size: 12px;
}

.QuestionTitle {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
  background-color: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 600);
  padding: 0 10px;
  text-align: left;
}

.QuestionTitle /deep/ .mat-button-wrapper {
  display: flex;
  flex-direction: column;
}

.CoursePageButtonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.AddToMyCoursesButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: mat-color($mat-gray, 600);
  //max-height: 32px;
  background: transparent;
  font-size: 12px;
}

.CoursePageExpansionPanel {
  background: mat-color($mat-gray, 300);
}

.CoursePageAccordion .mat-expansion-panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.CourseReviewPanelTitle {
  display: flex;
  justify-content: space-between;
}

.CourseReviewSubjectAndRank {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  width: 0;
}

.SmallStarsContainer {
  margin-left: 5px;
}

.CoursePageAccordion /deep/ .mat-expansion-panel-body {
  background: mat-color($mat-gray, 200);
  padding-top: 16px;
}

.EmailIconButton {
  color: mat-color($mat-deep-orange, 200);
}

.ContactDivider {
  margin-top: 16px;
}

.DividerContainer {
  width: 100%;
  position: relative;
  margin-top: 4px;
}

.ContactDetailsContainer {
  padding-top: 2px;
}
