<mat-toolbar class="NavBar">
  <h1>TauOverflow</h1>
  <div class="Content" *ngIf="isSignUp">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <mat-form-field appearance="fill" class="LoginField">
        <mat-label>Email</mat-label>
        <input matInput placeholder="" required [type]="'email'" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="LoginField">
        <mat-label>Password</mat-label>
        <input matInput placeholder="" required [type]="'password'" formControlName="password">
      </mat-form-field>
      <button mat-raised-button class="Button RaisedButton" color="primary" type="submit">Log in</button>
    </form>
  </div>
  <div class="Content" *ngIf="!isSignUp">
    <!--<button mat-icon-button class="Icon">-->
    <!-- TODO: When notifications are fully implemented, add this. IMPORTANT: Don't show 0 notifications. -->
    <button mat-icon-button class="Icon" (click)="resetNotification()" #notificationsButton
            [matMenuTriggerFor]="notificationsCard?.notificationsMenu">
      <mat-icon *ngIf="newNotifications.length > 0" matBadge={{newNotifications.length}}>notifications_active</mat-icon>
      <mat-icon *ngIf="newNotifications.length === 0">notifications_active</mat-icon>
    </button>
    <app-notifications-card #notificationsCard></app-notifications-card>
    <!--<button mat-button class="Button" routerLink='/user-profile'>Courses</button>-->
    <button mat-button class="Button" (click)="navigateToPage('user-profile')">My Profile</button>
    <button mat-button class="Button" (click)="navigateToPage('courses')">Courses</button>
    <button mat-button class="Button" (click)="navigateToPage('home-page')">Home</button>
    <!--<button mat-button class="Button" routerLink='/try1'>Try1</button>-->
    <button mat-raised-button class="Button RaisedButton" color="primary" (click)="logout()">Sign out</button>
  </div>
</mat-toolbar>
