@import "~@angular/material/theming";

:host {
  flex: 0 0 auto;
  width: 100%;
}

.Title {
  flex: 0 0 auto;
} @media (max-width: 800px) {
  .Title {
    display: none;
  }
}

.NavBar {
  background: mat-color($mat-deep-orange, 200);
  display: flex;
  justify-content: space-between;
  padding: 16px;
} @media (max-width: 800px) {
  .NavBar {
    padding: 8px;
  }
}

h1 {
  color: white;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.Icon {
  color: mat-color($mat-deep-orange, 100);
} @media (max-width: 800px) {
  .Icon {
    font-size: 20px;
  }
}

.Button {
  color: white;
  letter-spacing: 0.8px;
  margin-left: 8px;
} @media (max-width: 800px) {
  .Button {
    padding: 4px;
  }
}

.RaisedButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  flex: 0 0 auto;
  text-transform: uppercase;
} @media  (max-width: 800px) {
  .RaisedButton {
    padding: 0 5px;
    font-size: 12px;
  }
}

.Content {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  width: 0;
} @media (max-width: 800px) {
  .Content {
    justify-content: space-between;
    width: 100%;
  }
}

.LoginField {
  font-size: 11px;
  margin-left: 8px;
} @media  (max-width: 800px) {
  .LoginField {
    max-width: 46%;
  }
}

.LoginField /deep/ .mat-form-field-flex {
  background-color: white;
  padding: .25em .25em 0 .25em;
}

.LoginField /deep/ .mat-form-field-underline:before {
  background: mat-color($mat-gray, 500);
  height: 2px;
}

.LoginField /deep/ .mat-form-field-ripple {
  background: mat-color($mat-deep-orange, 200);
}

.mat-form-field.LoginField /deep/ .mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-form-field.LoginField /deep/ .mat-form-field-underline {
  bottom: 0;
}

.mat-form-field.LoginField /deep/ .mat-form-field-appearance-fill.mat-form-field-infix {
  padding: .1em 0 .6em 0;
}

.LoginFieldsContainer {
  display: flex;
  flex: 1 1 auto;
  width: 0;
}

.LoginForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.LoginButtonContainer {
  flex: 0 0 auto;
}

.NavBarButtonsContainer {
  display: flex;
}
