<app-nav-bar></app-nav-bar>
<div class="PostEditor">
  <mat-card class="PostCard">
    <mat-card-header class="PostHeader">
      <mat-card-title class="PostTitle">
        Add a Course Review
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="CourseNameSelector">
        <h2 class="PostTitleText">Course Name:</h2>
        <div class="AutocompletePostContainer">
          <app-autocomplete [placeholder]="'Select course...'" class="AutocompleteFindPartner"></app-autocomplete>
        </div>
      </div>
      <div class="PostTitle">
        <h2 class="PostTitleText">Title:</h2>
        <app-form-field [label]="'Add review title'">
        </app-form-field>
      </div>
      <div class="Question">
        <h2 class="PostTitleText">Rank:</h2>
        <div class="StarsContainer">
          <div class="StarContainer" *ngFor="let i of [1,2,3,4,5]">
            <mat-icon class="Star" *ngIf="numOfStars >= i" (click)="updateStars(i)">star</mat-icon>
            <mat-icon class="Star" *ngIf="numOfStars < i" (click)="updateStars(i)">star_border</mat-icon>
          </div>
        </div>
      </div>
      <div class="Question">
        <h2 class="PostTitleText">Review:</h2>
        <angular-editor [config]="editorConfig" class="QuestionTextArea">
        </angular-editor>
      </div>
      <!--<div class="AutocompleteFindPartner">-->
        <!--<app-autocomplete [placeholder]="'Select course...'"></app-autocomplete>-->
      <!--</div>-->
      <div class="DoneButtonContainer">
        <button mat-raised-button class="RaisedDoneButton">submit</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
