@import "~@angular/material/theming";

$icon-size: 32px;

.PostCard {
  background: mat-color($mat-deep-orange, 100);
  max-width: 75%;
  width: 100%;
}

.CourseTag {
  color: mat-color($mat-gray, 700);
  background-color: mat-color($mat-gray, 300);
}

.QuestionEditorHeader {
  color: mat-color($mat-gray, 100);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

//.QuestionTextArea {
//  background: white;
//}

.PostTextArea /deep/ .angular-editor-wrapper,
.PostTextArea /deep/ .angular-editor-toolbar  {
  background: white;
}

.QuestionEditorHeaderText {
  font-weight: 400;
}

.PostEditor {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.PostTitle {
  max-width: 25%;
  width: 100%;
}

.PostTitleText {
  color: mat-color($mat-gray, 700);
}

.SelectedCourses {
  align-items: center;
  display: flex;
}

.ChipList {
  margin-right: 8px;
}

.PlusIconButton {
  background: mat-color($mat-gray, 300);
  color: mat-color($mat-gray, 700);
  height: $icon-size;
  line-height: $icon-size;
  width: $icon-size;
}

.PlusIcon {
  font-size: 18px;
}

.DoneButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.RaisedDoneButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  //font-size: 15px;
  text-transform: uppercase;
}

.AutocompletePostContainer {
  max-width: 25%;
}

.PostTitle {
  color: mat-color($mat-gray, 700);
  font-size: 24px;
}

.PostHeader {
  justify-content: center;
}

.StarsContainer {
  display: flex;
}

.StarContainer {
  cursor: pointer;
}

.Star {
  color: mat-color($mat-teal, 400);
}

.CourseNameSelector {
  width: 100%;
}

.AutocompleteFindPartner /deep/ .mat-form-field-flex {
  background: white !important;
}
