@import "~@angular/material/theming";

.DetailsDialogContent .mat-form-field.mat-focused /deep/ .mat-form-field-ripple {
  background: mat-color($mat-deep-orange, 200);
}

.DetailsDialogContent {
  //color: mat-color($mat-gray, 500);
}

.DialogCourseSelector.mat-focused /deep/ .mat-select-arrow {
  color: mat-color($mat-deep-orange, 200);
}

.DialogCourseSelector.mat-focused /deep/ .mat-form-field-label {
  color: mat-color($mat-deep-orange, 200);
}

.DetailsDialogTitle {
  color: mat-color($mat-gray, 700);
  margin-bottom: 0px;
}

.OptionSelect /deep/ .mat-pseudo-checkbox-checked {
  background: mat-color($mat-teal, 200);
}

.OptionSelect.mat-selected:not(.mat-option-disabled) {
  color: mat-color($mat-teal, 200);
}

.OptionSelect {
  color: mat-color($mat-gray, 700);
}

.DetailsDialogDoneButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.DetailsDialogDoneButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  text-transform: uppercase;
  line-height: 28px;
}

.FirstHeader {
  margin: 0;
}

.SmallDialogHeader {
  color: mat-color($mat-gray, 500);
  font-size: 14px;
  margin: 16px 0 0;
}

.DetailsDialogContent /deep/ .mat-form-field-appearance-outline {
  background: white;
  border-radius: 6px;
}

.DetailsInput {
  font-size: 14px;
}

.ProgramInput /deep/ .mat-form-field-infix{
  padding-top: 4px;
  padding-bottom: 8px;
  border-top: 0px;
}

.DescriptonInput /deep/ .mat-form-field-infix{
  padding-top: 4px;
  border-top: 0px;
}

.SkillChips {
  font-size: 14px;
}

.SkillChips /deep/ .mat-form-field-infix{
  border-top: 0;
}

.ProgramsHelp {
  height: 14px;
  font-size: 14px;
  width: 14px;
  line-height: 14px;
  margin-left: 4px;
} @media (max-width: 800px) {
  .ProgramsHelp {
    display: none;
  }
}
