@import "~@angular/material/theming";

.DialogContent .mat-form-field.mat-focused /deep/ .mat-form-field-ripple {
  background: mat-color($mat-deep-orange, 200);
}
a:link {
  color: mat-color($mat-deep-orange,200);
  font-weight: bold;
  font-size: large;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: mat-color($mat-deep-orange,200);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.DialogCourseSelector.mat-focused /deep/ .mat-select-arrow {
  color: mat-color($mat-deep-orange, 200);
}

.notificationCard{
  background-color: mat-color($mat-gray, 200);
}
.DialogCourseSelector.mat-focused /deep/ .mat-form-field-label {
  color: mat-color($mat-deep-orange, 200);
}

.DialogTitle {
  color: mat-color($mat-gray, 700);
}

.OptionSelect /deep/ .mat-pseudo-checkbox-checked {
  background: mat-color($mat-teal, 200);
}

.OptionSelect.mat-selected:not(.mat-option-disabled) {
  color: mat-color($mat-teal, 200);
}

.OptionSelect {
  color: mat-color($mat-gray, 700);
}

.ChooseButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.ChooseButton {
  background: mat-color($mat-gray, 500);
  color: mat-color($mat-gray, 800);
  text-transform: uppercase;
}
