<div class="HomePage">
  <div class="NavBarContainer">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="AllContent">
    <div class="ProfileDetails">
      <app-profile-details></app-profile-details>
    </div>
    <div class="MainContent">
      <div class="ImgContainer">
        <img src="../../assets/logotov.png" />
      </div>
      <div class="Search">
        <app-search-bar></app-search-bar>
      </div>
      <div class="MainFeatures" routerLink="/question-editor">
        <div class="Feature">
          <button mat-fab class="FeatureIcon"><mat-icon>live_help</mat-icon></button>
          <div class="FeatureDescription">
            <span>Ask a</span>
            <span>question</span>
          </div>
        </div>
        <div class="Feature">
          <button mat-fab class="FeatureIcon"><mat-icon>people</mat-icon></button>
          <span class="FeatureDescription">
            <span>Find a</span>
            <span>partner</span>
          </span>
        </div>
        <div class="Feature">
          <button mat-fab class="FeatureIcon"><mat-icon>rate_review</mat-icon></button>
          <div class="FeatureDescription">
            <span>Add a course</span>
            <span>review</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

