<div class="answer-editor-page">
  <app-nav-bar></app-nav-bar>
  <div class="answer-editor-main">
    <div class="answer-chips">
      <mat-chip-list>
        <mat-chip color="primary" *ngFor="let chip of chips">{{chip.name}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="question">
      <div class="question-header">
      <span class="question-header-title">
    <h1>Question Title</h1>
      <button mat-icon-button="edit-button"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button="edit-button"><mat-icon>lock_open</mat-icon></button>
      </span>
        <span>
        <p>Netanel Yeosephian</p>
        <p>23/11/2018</p>
      </span>
      </div>
      <div class="question-content">
        <p>
          f;lasdf;ka;sldfk;laskdf;laksdf;lkasdf;lkasd;flkasd;lfkasd
          dsl;kasdf;laskdfdksaf;laskdf;laksd;flkasdfhlkfjsadfjlasdf
          asdfasdfasdfasdfasdfasdf
          adsfadsfasdfasdfa
          sfasdfasdfadsfadsfads
          asdfadsfadsfadsf
        </p>
      </div>
      <div class="question-bottom">

        <mat-chip-list>
          <mat-chip class="add-answer" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            <h4>Answer</h4></mat-chip>
        </mat-chip-list>
        <span class="up-votes">
        <button mat-icon-button="like-button"><mat-icon>thumb_up</mat-icon></button>
        <h4>234</h4>
      </span>
      </div>
    </div>

  </div>
</div>
