<app-nav-bar></app-nav-bar>
<app-spinner *ngIf="!isLoaded"></app-spinner>
<div class="questionPage" *ngIf="isLoaded" #questionPageContainer>
  <div class="coursesChips">
    <mat-chip-list>
      <mat-chip *ngFor="let course of question.relatedCourses" (click)="navigateToCoursePage(course)">{{course.name}}</mat-chip>
    </mat-chip-list>
  </div>
  <mat-card-content class="QuestionHeader">
    <div class="mat-h2 questionTitle">
      {{question.subject}}
    </div>
    <span *ngIf="isUserOwner">
      <button mat-icon-button matTooltip="Edit question" class="Button">
        <mat-icon class="Icon">edit</mat-icon>
      </button>
      <button *ngIf="!isQuestionLocked" mat-icon-button matTooltip="Lock this post" class="Button" (click)="LockQuestion()">
        <mat-icon class="Icon">lock_open</mat-icon>
      </button>
      <button *ngIf="isQuestionLocked" mat-icon-button matTooltip="Unlock this post" class="Button" (click)="UnlockQuestion()">
        <mat-icon class="Icon">lock</mat-icon>
      </button>
    </span>
    <span *ngIf="!isUserOwner">
      <button *ngIf="isQuestionFavorite" mat-icon-button matTooltip="Unmark as favorite" class="Button"
              (click)="UnmarkFavorite()">
        <mat-icon class="Icon">favorite</mat-icon>
      </button>
      <button *ngIf="!isQuestionFavorite" mat-icon-button matTooltip="Mark as favorite" class="Button"
              (click)="MarkFavorite()">
        <mat-icon class="Icon">favorite_border</mat-icon>
      </button>
    </span>
  </mat-card-content>
  <app-question-card [user]="user" [question]="question" [isLocked]="isQuestionLocked" [isUserOwner]="isUserOwner"
                     (showAnswerEditor)="showAnswerEditor()"></app-question-card>
  <div class="AnswersContainer">
    <app-answer-card *ngFor="let answer of question.answers" [answer]="answer"
                     [isUserOwner]="user.id === answer.owner.id"
                     [isEvenAnswer]="1 - isEvenAnswer">
    </app-answer-card>
    <app-single-answer-editor (answerSubmitted)="postAnswer($event)" (rendered)="scrollToBottom()"
                              (answerCanceled)="cancelAnswer()"
                              *ngIf="isShowAnswerEditor"></app-single-answer-editor>
  </div>
</div>

